.image-frame{
    padding: 10% 15% 10% 15%;
}

.image-frame img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


.button{
    background-color: rgb(44, 74, 140);
    /*background-color: #082644;*/
}

.request-icon{
     width: 30%;
     margin: auto;
     position: relative;
}

.request-icon:hover, .image-frame img:hover, .book-info:hover{
    cursor: pointer;
}

.request-icon i{
    color: #082644;
}

#request-text{
    text-align: center;
    color: #082644;

}

td:nth-child(2){
   border-right-style:hidden;
   border-left-style:hidden;
}

